net "clk" loc = "B8";
net "input<0>" loc = "P11";
net "input<1>" loc = "L3";
net "input<2>" loc = "K3";
net "input<3>" loc = "B4";
net "interface<6>" loc = "L14";
net "interface<5>" loc = "H12";
net "interface<4>" loc = "N14";
net "interface<3>" loc = "N11";
net "interface<2>" loc = "P12";
net "interface<1>" loc = "L13";
net "interface<0>" loc = "M12";
net "selector<0>" loc = "E2";
net "selector<1>" loc = "N3";
net "toggle" loc = "A7";
net "an<0>" loc = "F12";
net "an<1>" loc = "J12";
net "an<2>" loc = "M13";
net "an<3>" loc = "K14";